<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23237764705-4vinea3g02vmagv6rcmhgcopn6ab37fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23237764705-4vinea3g02vmagv6rcmhgcopn6ab37fe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>23237764705-pi53dtjjjn69keneb9jv44sfrjeqmalj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1pCFx-Ri1vHnLsJEEYidwDIFYlb78ozY</string>
	<key>GCM_SENDER_ID</key>
	<string>23237764705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tegynbadel.app</string>
	<key>PROJECT_ID</key>
	<string>tegy-nbadel</string>
	<key>STORAGE_BUCKET</key>
	<string>tegy-nbadel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23237764705:ios:ef34bea18cbebdbaa8ac20</string>
	<key>DATABASE_URL</key>
	<string>https://tegy-nbadel-default-rtdb.firebaseio.com</string>
</dict>
</plist>